$menu-width: 250px;
$menu-font-color: #eaeaea;
$fixed-toolbar-height: 64px;

.custom-sidenav-content{
    margin-left: calc(#{$menu-width} + 9px) !important;
}

.menu-sidenav {
    min-width: $menu-width !important;
    // max-width: 350px !important;    
    width: calc(#{$menu-width} + 10px);
    background: url('~/assets/images/sidebar.jpg') no-repeat;
    background-size: 100%;
    color: $menu-font-color !important;
    position: fixed !important;

    a,
    span.link,
    mat-icon,
    .mat-expansion-indicator::after {
        color: $menu-font-color !important;
    }

    .mat-drawer-inner-container{
        background-color: rgb(0 0 0 / 70%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        bottom: 0;
        z-index: 2;
        width: calc(#{$menu-width} + 9px);
        box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
    }
    
    .mat-nav-list{
        position: relative;
        z-index: 100;
        width: 100%;
    }

    .sidebar-background {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;

        .sidebar-background-image {
            position: absolute;
            z-index: 1;
            height: 100%;
            width: 100%;
        }

        :after {
            position: absolute;
            z-index: 3;
            width: 100%;
            height: 100%;
            content: "";
            background: rgba(0,0,0,.9019607843137255);
            opacity: .93;
        }
    }

    .mat-list-item-content{
        // justify-content: center;
        margin: 0 15px;
    }

    .mat-expansion-panel-header-title, a, mat-icon{
        user-select: none;
    }

    .logo {
        padding: 15px 0;
        position: relative;
        margin-bottom: 5px;

        .logo-img {
            width: 35px;
            max-height: 30px;
            margin-right: 15px;
            vertical-align: middle;
        }

        .logo-text {
            text-transform: uppercase;
            padding: 5px 0;
            font-size: 18px;
            color: $menu-font-color;
            white-space: nowrap;
            font-weight: 400;
            line-height: 30px;
            overflow: hidden;
            text-align: center;
            vertical-align: middle;
            display: inline;
        }

        :after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 15px;
            height: 1px;
            width: calc(100% - 30px);
            background-color: $menu-font-color;
        }
    }

    .mat-accordion {
        .mat-nav-list{
            padding-top: 0px;
        }
    }

    .mat-expansion-panel-spacing{
        margin: 0;
    }

    .mat-expansion-panel-body{
        padding: 0;

        .mat-list-item{
            padding-left: 26px;
        }
    }

    .mat-expansion-panel-header{
        padding-left: 31px !important;
        font-size: 16px;
    }

    .mat-expansion-panel-header.mat-expanded{
        height: 48px !important;
        background-color: rgba(236, 230, 230, 0.04) !important;
    }

    .mat-expansion-panel {
        background: transparent !important;
    }

    .mat-nav-list a{
        font-weight: 500;
    }

    .mat-expansion-indicator::after{
        margin-bottom: 6px;
    }
}

.menu-sidenav.mat-drawer-opened ~ mat-sidenav-content{
    margin-left: calc(#{$menu-width} + 9px) !important;
}

.custom-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
        causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1 0 auto;
}
  
.custom-is-mobile .custom-toolbar{
    //Ha mobilos nézetben vagyunk akkor a felső menü stílusa
    min-height: $fixed-toolbar-height;
    position: fixed;
}

.custom-is-mobile .custom-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
        `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}

.custom-toolbar {
    position:fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
    top: 0;
    background: #c51212 !important;
}

mat-sidenav-content .render-body {
    margin-top: calc(#{$fixed-toolbar-height} - 5px);
    padding: 20px;
}